parameters:
	level: 5
	paths:
		- wp-performance-wizard.php
		- includes/
	phpVersion: 70400
	ignoreErrors:
	bootstrapFiles:
		- wp-performance-wizard.php
	excludePaths:
		- includes/js/
		- includes/css/
		- vendor/
		- releases/
		- tools/
