includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 4
	treatPhpDocTypesAsCertain: false
	paths:
		- includes
	ignoreErrors:
		- '#Path in require_once\(\) "\./wp-admin/includes/.*" is not a file or it does not exist\.#'
